In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
## Load the dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
## Preprocess the data
### Drop irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
## Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [6]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [7]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
## Combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
## DiVide the dataset into indepent and dependent features
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
## Save the encoders and sscaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN Regression model

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
model= Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='linear')  # For regression
])

model.compile(optimizer='adam', loss='mean_absolute_error',metrics=['mae'])
model.summary()

WARNING:tensorflow:From c:\Users\ASUS\anaconda3\envs\venv\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir='regressionlogs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [17]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [18]:
history=model.fit(X_train, y_train, epochs=100,  validation_data=(X_test, y_test),
                  callbacks=[tensorboard_callback, early_stopping_callback])

Epoch 1/100
WARNING:tensorflow:From c:\Users\ASUS\anaconda3\envs\venv\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\ASUS\anaconda3\envs\venv\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 5ms/step - loss: 100383.7422 - mae: 100383.7422 - val_loss: 98534.9609 - val_mae: 98534.9609
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99668.3672 - mae: 99668.3672 - val_loss: 97076.4062 - val_mae: 97076.4062
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 97111.1562 - mae: 97111.1562 - val_loss: 93331.1719 - val_mae: 93331.1719
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 92071.7891 - mae: 92071.7891 - val_loss: 87050.9766 - val_mae: 87050.9766
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 84699.4766 - mae: 84699.4766 - val_loss: 78872.1250 - val_mae: 78872.1250
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 75963.1797 - mae: 75963.1797 - val_loss: 70309.5078 - val_mae: 70309.5078
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 67320.9922 - mae: 67320.9922 - val_loss: 62695.3633 - val_mae: 62695.3633
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 60246.2891 - mae: 60246.2891 - val_loss: 57003.8945 - val_mae: 57003.8945
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 55445.8516 - mae: 55445.8516 - val_loss: 53567.1719 - val_mae: 53567.1719
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 52759.5234 - mae: 52759.5234 - val_loss: 51903.9766 - val_mae: 51903.9766
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 51471.2461 - mae: 51471.2461 - val_loss: 51215.9648 - val_mae: 51215.9648
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50887.4102 - mae: 50887.4102 - val_loss: 50957.8008 - val_mae: 50957.8008
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50626.3516 - mae: 50626.3516 - val_loss: 50834.9258 - val_mae: 50834.9258
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 50486.7734 - mae: 50486.7734 - val_loss: 50767.9922 - val_mae: 50767.9922
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 50392.8516 - mae: 50392.8516 - val_loss: 50708.8320 - val_mae: 50708.8320
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 50317.7148 - mae: 50317.7148 - val_loss: 50672.4531 - val_mae: 50672.4531
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 50257.8555 - mae: 50257.8555 - val_loss: 50633.7070 - val_mae: 50633.7070
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 50202.0430 - mae: 50202.0430 - val_loss: 50595.7109 - val_mae: 50595.7109
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 50158.3477 - mae: 50158.3477 - val_loss: 50568.8477 - val_mae: 50568.8477
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 50111.8789 - mae: 50111.8789 - val_loss: 50539.9492 - val_mae: 50539.9492
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 50071.3672 - mae: 50071.3672 - val_loss: 50510.1055 - val_mae: 50510.1055
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 50034.6367 - mae: 50034.6367 - val_loss: 50484.6562 - val_mae: 50484.6562
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 50003.0352 - mae: 50003.0352 - val_loss: 50458.5625 - val_mae: 50458.5625
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 49968.6641 - mae: 49968.6641 - val_loss: 50435.3906 - val_mae: 50435.3906
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 49940.8984 - mae: 49940.8984 - val_loss: 50414.1602 - val_mae: 50414.1602
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 49911.7188 - mae: 49911.7188 - val_loss: 50394.0547 - val_mae: 50394.0547
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 49884.0703 - mae: 49884.0703 - val_loss: 50380.8242 - val_mae: 50380.8242
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 49859.4453 - mae: 49859.4453 - val_loss: 50370.8008 - val_mae: 50370.8008
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 49835.6992 - mae: 49835.6992 - val_loss: 50356.6992 - val_mae: 50356.6992
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 49815.2383 - mae: 49815.2383 - val_loss: 50344.6562 - val_mae: 50344.6562
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49799.0508 - mae: 49799.0508 - val_loss: 50332.1367 - val_mae: 50332.1367
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49774.9844 - mae: 49774.9844 - val_loss: 50331.1055 - val_mae: 50331.1055
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49756.4062 - mae: 49756.4062 - val_loss: 50313.5430 - val_mae: 50313.5430
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49739.9297 - mae: 49739.9297 - val_loss: 50303.5859 - val_mae: 50303.5859
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 49722.7148 - mae: 49722.7148 - val_loss: 50294.3555 - val_mae: 50294.3555
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 49704.9297 - mae: 49704.9297 - val_loss: 50288.7422 - val_mae: 50288.7422
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49693.6797 - mae: 49693.6797 - val_loss: 50288.9883 - val_mae: 50288.9883
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49677.8242 - mae: 49677.8242 - val_loss: 50285.5000 - val_mae: 50285.5000
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 49667.7031 - mae: 49667.7031 - val_loss: 50289.2344 - val_mae: 50289.2344
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 49654.0898 - mae: 49654.0898 - val_loss: 50286.9375 - val_mae: 50286.9375
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 49641.1797 - mae: 49641.1797 - val_loss: 50288.3555 - val_mae: 50288.3555
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49630.0664 - mae: 49630.0664 - val_loss: 50279.2734 - val_mae: 50279.2734
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49617.6211 - mae: 49617.6211 - val_loss: 50283.6406 - val_mae: 50283.6406
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49608.6445 - mae: 49608.6445 - val_loss: 50282.6641 - val_mae: 50282.6641
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 49600.1562 - mae: 49600.1562 - val_loss: 50281.5469 - val_mae: 50281.5469
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49590.6328 - mae: 49590.6328 - val_loss: 50273.0234 - val_mae: 50273.0234
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 49580.5547 - mae: 49580.5547 - val_loss: 50277.3164 - val_mae: 50277.3164
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 49576.1172 - mae: 49576.1172 - val_loss: 50273.3906 - val_mae: 50273.3906
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49569.2383 - mae: 49569.2383 - val_loss: 50275.1211 - val_mae: 50275.1211
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 49560.1523 - mae: 49560.1523 - val_loss: 50265.9141 - val_mae: 50265.9141
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 49551.8711 - mae: 49551.8711 - val_loss: 50278.0547 - val_mae: 50278.0547
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 49543.6914 - mae: 49543.6914 - val_loss: 50271.0859 - val_mae: 50271.0859
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 49535.8750 - mae: 49535.8750 - val_loss: 50272.1953 - val_mae: 50272.1953
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 49530.2617 - mae: 49530.2617 - val_loss: 50270.3867 - val_mae: 50270.3867
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 49523.9883 - mae: 49523.9883 - val_loss: 50275.0742 - val_mae: 50275.0742
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49516.9062 - mae: 49516.9062 - val_loss: 50272.7656 - val_mae: 50272.7656
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 49510.0625 - mae: 49510.0625 - val_loss: 50281.3359 - val_mae: 50281.3359
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 49503.0859 - mae: 49503.0859 - val_loss: 50284.8984 - val_mae: 50284.8984
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 49497.9922 - mae: 49497.9922 - val_loss: 50272.6875 - val_mae: 50272.6875
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 49493.9219 - mae: 49493.9219 - val_loss: 50271.2656 - val_mae: 50271.2656

In [19]:
## Evaluate the model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50265.9141 - mae: 50265.9141
Test MAE: 50265.9140625

In [20]:
model.save('regression_model.h5')

c:\Users\ASUS\anaconda3\envs\venv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(